:root {
	--maxtheme-default-alignmentguide: rgb(170,96,81);
	--maxtheme-default-assistance_background: rgb(39,39,39);
	--maxtheme-default-assistance_text: rgb(230,230,230);
	--maxtheme-default-audiocolor: rgb(0,153,255);
	--maxtheme-default-basic: rgb(100,157,193);
	--maxtheme-default-box_selection_background: rgba(196,209,237,0.25);
	--maxtheme-default-browser_background: rgb(32,32,32);
	--maxtheme-default-buttoned_up: rgb(100,157,193);
	--maxtheme-default-calendar_activity: rgb(83,83,83);
	--maxtheme-default-calendar_menu_header: rgb(89,89,89);
	--maxtheme-default-calendar_stripe2: rgb(62,62,62);
	--maxtheme-default-calendar_success: rgb(64,179,64);
	--maxtheme-default-caption_background: rgb(107,113,123);
	--maxtheme-default-clue_system_background: rgb(32,32,32);
	--maxtheme-default-clue_text: rgb(230,230,230);
	--maxtheme-default-clue_user_background: rgb(39,39,39);
	--maxtheme-default-colorpopup_bright_background: rgb(140,140,140);
	--maxtheme-default-colorpopup_bright_selected: rgb(220,220,220);
	--maxtheme-default-colortab1: rgb(172,178,74);
	--maxtheme-default-colortab10: rgb(4,150,243);
	--maxtheme-default-colortab2: rgb(226,123,224);
	--maxtheme-default-colortab3: rgb(20,189,170);
	--maxtheme-default-colortab4: rgb(85,171,217);
	--maxtheme-default-colortab5: rgb(227,87,82);
	--maxtheme-default-colortab6: rgb(126,168,166);
	--maxtheme-default-colortab7: rgb(150,205,74);
	--maxtheme-default-colortab8: rgb(237,108,47);
	--maxtheme-default-colortab9: rgb(181,102,220);
	--maxtheme-default-comment_outline: rgb(83,83,83);
	--maxtheme-default-darkweb: rgb(176,179,121);
	--maxtheme-default-dirtygreen: rgb(26,179,77);
	--maxtheme-default-electricblue: rgb(221,250,26);
	--maxtheme-default-favicolor: rgb(230,166,13);
	--maxtheme-default-formatpalette_background: rgb(32,32,32);
	--maxtheme-default-formatpalette_disabledtext: rgb(131,135,139);
	--maxtheme-default-formatpalette_inherited: rgb(44,44,44);
	--maxtheme-default-formatpalette_inherited_background: rgb(56,56,56);
	--maxtheme-default-formatpalette_inherited_on: rgb(230,230,230);
	--maxtheme-default-formatpalette_renamer_background: rgb(32,32,32);
	--maxtheme-default-iceice: rgb(0,153,255);
	--maxtheme-default-inspector_background: rgb(51,51,51);
	--maxtheme-default-inspector_disabled_text: rgb(117,117,117);
	--maxtheme-default-inspector_header_background: rgb(32,32,32);
	--maxtheme-default-inspector_headerline: rgb(20,20,20);
	--maxtheme-default-inspector_menuheader: rgb(230,166,13);
	--maxtheme-default-inspector_selectedrow: rgb(51,88,135);
	--maxtheme-default-inspector_selection: rgb(31,135,222);
	--maxtheme-default-inspector_tab: rgb(230,166,13);
	--maxtheme-default-inspector_texteditor_background: rgb(51,51,51);
	--maxtheme-default-jed_background: rgb(24,24,24);
	--maxtheme-default-jed_cpp_preprocessor: rgb(244,195,115);
	--maxtheme-default-jed_defaulttext: rgb(230,230,230);
	--maxtheme-default-jed_expr_bracket: rgb(212,138,173);
	--maxtheme-default-jed_expr_comment: rgb(134,209,142);
	--maxtheme-default-jed_expr_corefunction: rgb(244,195,115);
	--maxtheme-default-jed_expr_error: rgb(255,80,57);
	--maxtheme-default-jed_expr_float: rgb(155,246,245);
	--maxtheme-default-jed_expr_identifier: rgb(135,192,217);
	--maxtheme-default-jed_expr_integer: rgb(155,246,245);
	--maxtheme-default-jed_expr_keyword: rgb(147,190,255);
	--maxtheme-default-jed_expr_namedconstant: rgb(147,190,255);
	--maxtheme-default-jed_expr_operator: rgb(230,230,230);
	--maxtheme-default-jed_expr_preprocessor: rgb(244,195,115);
	--maxtheme-default-jed_expr_punctuation: rgb(230,230,230);
	--maxtheme-default-jed_expr_string: rgb(255,163,141);
	--maxtheme-default-jed_expr_userfunction: rgb(240,212,173);
	--maxtheme-default-jed_hilite: rgb(51,105,164);
	--maxtheme-default-jed_js_bracket: rgb(212,138,173);
	--maxtheme-default-jed_js_comment: rgb(134,209,142);
	--maxtheme-default-jed_js_corefunction: rgb(244,195,115);
	--maxtheme-default-jed_js_error: rgb(255,80,57);
	--maxtheme-default-jed_js_float: rgb(155,246,245);
	--maxtheme-default-jed_js_identifier: rgb(135,192,217);
	--maxtheme-default-jed_js_integer: rgb(155,246,245);
	--maxtheme-default-jed_js_keyword: rgb(147,190,255);
	--maxtheme-default-jed_js_maxfunction: rgb(244,195,115);
	--maxtheme-default-jed_js_operator: rgb(230,230,230);
	--maxtheme-default-jed_js_punctuation: rgb(230,230,230);
	--maxtheme-default-jed_js_string: rgb(255,163,141);
	--maxtheme-default-jed_linenumber_text: rgb(206,206,206);
	--maxtheme-default-lesson_button_background: rgb(56,56,56);
	--maxtheme-default-lesson_downloading: rgb(202,143,170);
	--maxtheme-default-lesson_inprogress: rgb(147,206,152);
	--maxtheme-default-lesson_play: rgb(64,179,64);
	--maxtheme-default-lesson_range: rgb(155,205,147);
	--maxtheme-default-lesson_remote: rgb(69,69,69);
	--maxtheme-default-lesson_started: rgb(111,171,249);
	--maxtheme-default-lesson_step_border: rgb(190,190,190);
	--maxtheme-default-lesson_step_bottomgradient: rgb(32,32,32);
	--maxtheme-default-lesson_step_circle: rgb(230,166,13);
	--maxtheme-default-lesson_step_titlebar: rgb(56,56,56);
	--maxtheme-default-lesson_step_topgradient: rgb(44,44,44);
	--maxtheme-default-lesson_text_hilite: rgb(31,135,222);
	--maxtheme-default-lesson_todo: rgb(153,153,153);
	--maxtheme-default-lessonbrowser_row1_background: rgb(51,51,51);
	--maxtheme-default-lessonbrowser_row2_background: rgb(39,39,39);
	--maxtheme-default-live_active_automation: rgb(255,102,77);
	--maxtheme-default-live_alert: rgb(255,125,67);
	--maxtheme-default-live_arranger_grid_tiles: rgb(217,217,217);
	--maxtheme-default-live_assignment_text_bg: rgb(67,67,67);
	--maxtheme-default-live_contrast_frame: rgb(25,25,25);
	--maxtheme-default-live_control_bg: rgb(67,67,67);
	--maxtheme-default-live_control_fg: rgb(217,217,217);
	--maxtheme-default-live_control_fg_off: rgb(217,217,217);
	--maxtheme-default-live_control_fg_off_zombie: rgb(147,147,147);
	--maxtheme-default-live_control_fg_on: rgb(217,217,217);
	--maxtheme-default-live_control_fg_on_zombie: rgb(56,56,56);
	--maxtheme-default-live_control_fg_zombie: rgb(147,147,147);
	--maxtheme-default-live_control_fill_handle: rgb(147,147,147);
	--maxtheme-default-live_control_selection: rgb(230,166,13);
	--maxtheme-default-live_control_selection_alt: rgb(0,238,255);
	--maxtheme-default-live_control_selection_variant: rgb(0,238,255);
	--maxtheme-default-live_control_text_bg: rgb(60,60,60);
	--maxtheme-default-live_control_text_selection: rgb(217,217,217);
	--maxtheme-default-live_control_text_selection_standby: rgb(195,195,195);
	--maxtheme-default-live_control_text_zombie: rgb(147,147,147);
	--maxtheme-default-live_control_zombie: rgb(147,147,147);
	--maxtheme-default-live_desktop: rgb(60,60,60);
	--maxtheme-default-live_dial_fg: rgb(147,147,147);
	--maxtheme-default-live_dial_fg_zombie: rgb(147,147,147);
	--maxtheme-default-live_dial_needle: rgb(217,217,217);
	--maxtheme-default-live_dial_needle_zombie: rgb(147,147,147);
	--maxtheme-default-live_dial_triangle: rgb(217,217,217);
	--maxtheme-default-live_display_handle_one: rgb(255,185,1);
	--maxtheme-default-live_display_handle_two: rgb(248,118,128);
	--maxtheme-default-live_display_line_one: rgb(255,185,1);
	--maxtheme-default-live_display_line_two: rgb(0,238,255);
	--maxtheme-default-live_display_scale_text: rgb(168,168,168);
	--maxtheme-default-live_focus_frame: rgb(114,114,114);
	--maxtheme-default-live_freeze_color: rgb(67,145,230);
	--maxtheme-default-live_gain_reduction_line_color: rgb(255,185,1);
	--maxtheme-default-live_inactive_automation: rgb(170,96,81);
	--maxtheme-default-live_input_curve_color: rgba(188,188,188,0.329411764705882);
	--maxtheme-default-live_input_curve_outline_color: rgba(0,0,0,0);
	--maxtheme-default-live_key_assignment: rgb(255,100,0);
	--maxtheme-default-live_lcd_bg: rgb(20,20,20);
	--maxtheme-default-live_lcd_control_fg: rgb(238,197,134);
	--maxtheme-default-live_lcd_control_fg_alt: rgb(158,190,243);
	--maxtheme-default-live_lcd_control_fg_zombie: rgb(83,83,83);
	--maxtheme-default-live_lcd_frame: rgb(44,44,44);
	--maxtheme-default-live_lcd_title: rgb(190,190,190);
	--maxtheme-default-live_led_bg: rgb(66,66,66);
	--maxtheme-default-live_macro_assigned: rgb(0,218,72);
	--maxtheme-default-live_macro_assignment: rgb(0,218,72);
	--maxtheme-default-live_macro_title: rgb(67,67,67);
	--maxtheme-default-live_meter_bg: rgb(20,20,20);
	--maxtheme-default-live_midi_assignment: rgb(64,52,239);
	--maxtheme-default-live_modulation: rgb(0,140,173);
	--maxtheme-default-live_numbox_triangle: rgb(158,190,243);
	--maxtheme-default-live_output_curve_color: rgba(206,206,206,0.247058823529412);
	--maxtheme-default-live_output_curve_outline_color: rgb(207,207,207);
	--maxtheme-default-live_play: rgb(0,250,163);
	--maxtheme-default-live_prelisten: rgb(26,125,241);
	--maxtheme-default-live_record: rgb(255,89,95);
	--maxtheme-default-live_scale_awareness: rgb(190,152,255);
	--maxtheme-default-live_selection: rgb(69,104,152);
	--maxtheme-default-live_selection_standby: rgb(171,198,203);
	--maxtheme-default-live_spectrum_alternative_color: rgb(26,125,241);
	--maxtheme-default-live_spectrum_default_color: rgba(188,188,188,0.329411764705882);
	--maxtheme-default-live_spectrum_grid_lines: rgba(166,166,166,0.247058823529412);
	--maxtheme-default-live_surface_bg: rgb(71,71,71);
	--maxtheme-default-live_surface_frame: rgb(181,181,181);
	--maxtheme-default-live_surface_frame_focus: rgb(110,110,110);
	--maxtheme-default-live_threshold_line_color: rgb(0,238,255);
	--maxtheme-default-live_value_arc: rgb(152,184,237);
	--maxtheme-default-live_value_arc_zombie: rgb(147,147,147);
	--maxtheme-default-live_value_bar: rgb(152,184,237);
	--maxtheme-default-live_value_bar2: rgb(248,118,128);
	--maxtheme-default-live_value_bar3: rgb(241,172,0);
	--maxtheme-default-live_value_bar_three: rgb(241,172,0);
	--maxtheme-default-live_value_bar_two: rgb(248,118,128);
	--maxtheme-default-lively: rgb(100,157,193);
	--maxtheme-default-local_audiocolor: rgb(230,166,13);
	--maxtheme-default-maxwindow_bugtext: rgb(111,171,249);
	--maxtheme-default-maxwindow_errorbackground: rgb(138,68,54);
	--maxtheme-default-maxwindow_errorbackground2: rgb(84,50,43);
	--maxtheme-default-maxwindow_errortext: rgb(230,230,230);
	--maxtheme-default-maxwindow_postobject: rgb(230,230,230);
	--maxtheme-default-maxwindow_postobject_hilite: rgb(158,123,64);
	--maxtheme-default-maxwindow_posttext: rgb(230,230,230);
	--maxtheme-default-maxwindow_selection_background: rgb(51,88,135);
	--maxtheme-default-maxwindow_successtext: rgb(127,172,99);
	--maxtheme-default-maxwindow_warningbackground1: rgb(126,94,36);
	--maxtheme-default-maxwindow_warningbackground2: rgb(78,62,36);
	--maxtheme-default-maxwindow_warningtext: rgb(236,213,181);
	--maxtheme-default-menu_background: rgb(39,39,39);
	--maxtheme-default-menu_disabled_text: rgb(117,117,117);
	--maxtheme-default-menu_headertext: rgb(56,56,56);
	--maxtheme-default-menu_highlighted_background: rgb(56,56,56);
	--maxtheme-default-menu_highlighted_text: rgb(206,206,206);
	--maxtheme-default-menu_text: rgb(206,206,206);
	--maxtheme-default-mute_on: rgb(59,143,255);
	--maxtheme-default-number_one: rgb(100,157,193);
	--maxtheme-default-object_bogus_color: rgb(84,50,43);
	--maxtheme-default-objectfiles_header: rgb(255,146,46);
	--maxtheme-default-objectified: rgb(165,190,0);
	--maxtheme-default-objectprototypes_header: rgb(106,209,255);
	--maxtheme-default-parchment: rgb(77,178,242);
	--maxtheme-default-parchment_dull: rgb(185,179,161);
	--maxtheme-default-parchmentbright: rgb(255,228,148);
	--maxtheme-default-patcher_active_tab: rgb(39,39,39);
	--maxtheme-default-patcher_box_selection: rgb(51,88,135);
	--maxtheme-default-patcher_circle_fill: rgb(100,192,115);
	--maxtheme-default-patcher_circle_outline: rgb(44,44,44);
	--maxtheme-default-patcher_cool_inlet: rgb(163,229,240);
	--maxtheme-default-patcher_hot_inlet: rgb(255,183,168);
	--maxtheme-default-patcher_inactive_tab: rgb(51,51,51);
	--maxtheme-default-patcher_io_connected_inside: rgb(69,69,69);
	--maxtheme-default-patcher_io_connected_outside: rgb(56,56,56);
	--maxtheme-default-patcher_io_unconnected: rgb(169,169,169);
	--maxtheme-default-patcher_outlet: rgb(214,221,108);
	--maxtheme-default-patcher_tab_bottom_line: rgb(44,44,44);
	--maxtheme-default-patcher_tab_text_active: rgb(0,153,255);
	--maxtheme-default-patcher_tab_text_inactive: rgb(190,190,190);
	--maxtheme-default-patcher_tab_top_line: rgb(39,39,39);
	--maxtheme-default-patcher_tinge_hilite: rgb(24,142,235);
	--maxtheme-default-patcher_tinge_object: rgb(210,152,16);
	--maxtheme-default-patcherbrowser_results_background: rgb(32,32,32);
	--maxtheme-default-patcherbrowser_results_darkrowbg: rgb(51,51,51);
	--maxtheme-default-patcherbrowser_results_lightrowbg: rgb(39,39,39);
	--maxtheme-default-patcherbrowser_results_selected: rgb(51,88,135);
	--maxtheme-default-patcherbrowser_results_textcolor: rgb(230,230,230);
	--maxtheme-default-patchline_badge_break: rgb(221,70,82);
	--maxtheme-default-patchline_badge_disabled: rgb(204,204,204);
	--maxtheme-default-patchline_badge_monitor: rgb(234,161,88);
	--maxtheme-default-patchline_badge_post: rgb(95,173,210);
	--maxtheme-default-pattrstorage_active: rgb(149,174,44);
	--maxtheme-default-plugintoolbar_background: rgb(113,114,121);
	--maxtheme-default-plugintoolbar_header_background: rgb(102,101,106);
	--maxtheme-default-presentation_frame: rgba(129,63,91,0.24);
	--maxtheme-default-projectwindow_background: rgb(32,32,32);
	--maxtheme-default-projectwindow_divider: rgb(44,44,44);
	--maxtheme-default-quickref_attribute_header: rgb(216,186,99);
	--maxtheme-default-quickref_message_header: rgb(108,187,176);
	--maxtheme-default-refbar_details_background: rgb(25,25,25);
	--maxtheme-default-refbar_details_linkcolor: rgb(158,190,243);
	--maxtheme-default-refbar_stripe2: rgb(39,39,39);
	--maxtheme-default-scrollbar_fading_mouseover: rgba(115,115,115,0.67);
	--maxtheme-default-scrollbar_fading_nonmouseover: rgba(115,115,115,0.6);
	--maxtheme-default-scrollbar_nonfading_mouseover: rgb(125,125,125);
	--maxtheme-default-scrollbar_nonfading_nonmouseover: rgb(193,193,193);
	--maxtheme-default-sidebarblues: rgb(77,178,242);
	--maxtheme-default-sliderweb: rgb(100,157,193);
	--maxtheme-default-solo_on: rgb(255,74,105);
	--maxtheme-default-standardappletexthilite: rgb(182,214,253);
	--maxtheme-default-text_editingcolor: rgb(51,88,135);
	--maxtheme-default-theme_accentcolor: rgb(117,117,117);
	--maxtheme-default-theme_bgcolor: rgb(32,32,32);
	--maxtheme-default-theme_bubble_bgcolor: rgb(60,60,60);
	--maxtheme-default-theme_bubble_outlinecolor: rgb(217,217,217);
	--maxtheme-default-theme_clearcolor: rgba(255,255,255,0);
	--maxtheme-default-theme_color: rgb(158,190,243);
	--maxtheme-default-theme_editing_bgcolor: rgb(60,60,60);
	--maxtheme-default-theme_elementcolor: rgb(56,56,56);
	--maxtheme-default-theme_locked_bgcolor: rgb(60,60,60);
	--maxtheme-default-theme_patchlinecolor: rgb(114,114,114);
	--maxtheme-default-theme_selectioncolor: rgb(235,181,84);
	--maxtheme-default-theme_stripecolor: rgb(44,44,44);
	--maxtheme-default-theme_syntax_attrargcolor: rgb(252,197,184);
	--maxtheme-default-theme_syntax_attributecolor: rgb(147,190,255);
	--maxtheme-default-theme_syntax_objargcolor: rgb(230,230,230);
	--maxtheme-default-theme_syntax_objectcolor: rgb(244,195,115);
	--maxtheme-default-theme_textcolor: rgb(217,217,217);
	--maxtheme-default-theme_textcolor_inverse: rgb(230,230,230);
	--maxtheme-default-toolbar_active_unique: rgb(111,171,249);
	--maxtheme-default-toolbar_background_active: rgb(32,32,32);
	--maxtheme-default-toolbar_background_inactive: rgb(39,39,39);
	--maxtheme-default-toolbar_background_inactive_old: rgb(135,140,146);
	--maxtheme-default-toolbar_badge: rgb(255,102,77);
	--maxtheme-default-toolbar_disabled_active: rgb(117,117,117);
	--maxtheme-default-toolbar_disabled_inactive: rgb(117,117,117);
	--maxtheme-default-toolbar_disabled_inactive_old: rgb(156,161,171);
	--maxtheme-default-toolbar_divider_active: rgb(39,39,39);
	--maxtheme-default-toolbar_divider_inactive: rgb(44,44,44);
	--maxtheme-default-toolbar_enabled_modified: rgb(190,190,190);
	--maxtheme-default-toolbar_enabled_off: rgb(230,230,230);
	--maxtheme-default-toolbar_enabled_on: rgb(230,166,13);
	--maxtheme-default-toolbar_overlay_background: rgb(39,39,39);
	--maxtheme-default-toolbar_searchbar_background: rgb(44,44,44);
	--maxtheme-default-toolbar_searchbar_emptytext: rgb(153,153,153);
	--maxtheme-default-toolbar_searchbar_hilite: rgb(51,88,135);
	--maxtheme-default-toolbar_searchbar_text: rgb(230,230,230);
	--maxtheme-default-transform_header: rgb(28, 34, 37);
	--maxtheme-default-transport_green: rgb(155,205,147);
	--maxtheme-default-urgentmessage: rgb(118,187,169);
	--maxtheme-default-verylively: rgb(134,214,73);
	--maxtheme-default-wolfsburg: rgb(238,175,165);
	--maxtheme-default-yellowpin: rgb(230,166,13);
}

html[data-theme="default"] {
	--c74-font-color: var(--maxtheme-default-maxwindow_posttext);
	--c74-body-bg: var(--maxtheme-default-inspector_background);
	--c74-dimmed-color: var(--maxtheme-default-inspector_disabled_text);

	--c74-selection-color: var(--maxtheme-default-inspector_selectedrow);
	--c74-scrollbar-color: var(--maxtheme-default-inspector_disabled_text);

	--c74-primary-color: var(--maxtheme-default-iceice);
	--c74-primary-color-contrast: var(--maxtheme-default-maxwindow_posttext);
	--c74-primary-color-light: color-mix(in srgb, var(--c74-primary-color) 45%, black);
	--c74-primary-color-light-contrast: color-mix(in srgb, var(--c74-primary-color) 20%, white);

	--c74-anchor-color: var(--maxtheme-default-iceice);
	--c74-default-border-color: color-mix(in srgb, var(--c74-font-color) 15%, var(--c74-body-bg));

	--c74-inline-code-bg: var(--maxtheme-default-toolbar_overlay_background);
	--c74-inline-code-text: var(--maxtheme-default-toolbar_enabled_off);

	/* Header */
	--c74-header-bg: var(--maxtheme-default-inspector_header_background);
	--c74-header-color: var(--maxtheme-default-maxwindow_posttext);
	--c74-header-logo-color: #eeeeee;
	--c74-header-shadow: rgba(128, 128, 128, 0.05) 0px 1px 3px 0px;
	--c74-secondary-header-bg: var(--maxtheme-default-toolbar_overlay_background);
	--c74-secondary-header-text: var(--maxtheme-default-toolbar_enabled_off);

	/* Footer */
	--c74-footer-bg: var(--maxtheme-default-toolbar_background_active);
	--c74-footer-color: var(--maxtheme-default-maxwindow_posttext);

	/* Sidebars */
	--c74-nav-color-bg: var(--maxtheme-default-toolbar_overlay_background);
	--c74-nav-color-text: var(--maxtheme-default-toolbar_enabled_off);
	--c74-nav-color-border: var(--maxtheme-default-toolbar_overlay_background);
	--c74-nav-color-selected-bg: var(--maxtheme-default-inspector_selectedrow);
	--c74-nav-color-selected-text: var(--maxtheme-default-maxwindow_posttext);

	/* Breadcrumbs */
	--c74-breadcrumbs-color-bg: var(--maxtheme-default-toolbar_overlay_background);
	--c74-breadcrumbs-color-text: var(--maxtheme-default-toolbar_enabled_off);
	--c74-breadcrumbs-color-border: var(--maxtheme-default-inspector_header_background);

	/* Modal */
	--c74-modal-background: var(--maxtheme-default-toolbar_background_active);

	/* Search */
	--c74-spotlight-divider: var(--maxtheme-default-projectwindow_divider);

	/* Tables */
	--c74-table-stripe-bg: color-mix(in srgb, var(--maxtheme-default-inspector_background) 98%, white);
	--c74-table-border-color: var(--maxtheme-default-projectwindow_divider);

	/* Article Colors */
	--c74-article-offset-bg: var(--maxtheme-default-toolbar_overlay_background);
	--c74-article-offset-color: var(--maxtheme-default-toolbar_enabled_off);

	/* Legacy Logo Background */
	--c74-legacy-logo-bg: color-mix(in srgb, var(--maxtheme-default-toolbar_enabled_off) 80%, black);

	/* Divider */
	--c74-divider-color: var(--c74-default-border-color);

	/* Buttons */
	--c74-btn-bg: var(--maxtheme-default-toolbar_searchbar_background);
	--c74-btn-color: var(--maxtheme-default-toolbar_searchbar_text);
	--c74-btn-border-color: var(--maxtheme-default-toolbar_searchbar_background);

	/* Input */
	--c74-input-bg: var(--maxtheme-default-toolbar_searchbar_background);
	--c74-input-border: var(--maxtheme-default-toolbar_searchbar_background);
	--c74-input-color: var(--maxtheme-default-toolbar_searchbar_text);
	--c74-input-placeholder-color: var(--maxtheme-default-toolbar_searchbar_emptytext);

	/* SVG Mapped Colors */
	--svg-bg: var(--maxtheme-default-toolbar_background_active);
	--svg-fg: var(--maxtheme-default-toolbar_enabled_off);
	--svg-primary: var(--maxtheme-default-toolbar_enabled_on);
	--svg-secondary: var(--maxtheme-default-maxwindow_posttext);

	/* Notification Colors */
	--c74-color-error-background: var(--maxtheme-default-maxwindow_errorbackground);
	--c74-color-error-text: var(--maxtheme-default-maxwindow_errortext);

	--c74-color-warn-background: var(--maxtheme-default-maxwindow_warningbackground1);
	--c74-color-warn-text: var(--maxtheme-default-maxwindow_warningtext);

	--c74-color-success-background: transparent;
	--c74-color-success-text: var(--maxtheme-default-maxwindow_successtext);

	--c74-color-info-background: var(--maxtheme-default-inspector_selectedrow);
	--c74-color-info-text: var(--maxtheme-default-maxwindow_posttext);

	--c74-color-bubble-background: var(--maxtheme-default-toolbar_background_active);
	--c74-color-bubble-text: var(--maxtheme-default-toolbar_enabled_off);

	/* JED Colors */
	--jed_background: var(--maxtheme-default-jed_background);
	--jed_defaulttext: var(--maxtheme-default-jed_defaulttext);
	--jed_expr_comment: var(--maxtheme-default-jed_expr_comment);
	--jed_expr_corefunction: var(--maxtheme-default-jed_expr_corefunction);
	--jed_expr_float: var(--maxtheme-default-jed_expr_float);
	--jed_expr_keyword: var(--maxtheme-default-jed_expr_keyword);
	--jed_expr_namedconstant: var(--maxtheme-default-jed_expr_namedconstant);
	--jed_expr_operator: var(--maxtheme-default-jed_expr_operator)
	--jed_expr_punctuation: var(--maxtheme-default-jed_expr_punctuation);
	--jed_expr_string: var(--maxtheme-default-jed_expr_string);
	--jed_expr_userfunction: var(--maxtheme-default-jed_expr_userfunction);
	--jed_hilite: var(--maxtheme-default-jed_hilite);

	/* Messages */
	--c74-color-patcher-bg: #e5e5e5;
	--c74-color-message-bg-one: #4D4D4D;
	--c74-color-message-bg-two: #333333;
	--c74-color-message-fg: #F7F7F7;
	--c74-color-message-io: #727272;

	/* Cookie Consent */
	--c74-cookie-consent-bg: var(--c74-header-bg);
	--c74-cookie-consent-text: var(--c74-header-color);
	--c74-cookie-consent-secondary-action-color: var(--c74-font-color);
}
