:root {
	--maxtheme-light-alignmentguide: rgb(188,119,56);
	--maxtheme-light-assistance_background: rgba(215,213,203,0.94);
	--maxtheme-light-assistance_text: rgb(43,43,43);
	--maxtheme-light-audiocolor: rgb(16,153,191);
	--maxtheme-light-basic: rgb(94,127,191);
	--maxtheme-light-box_selection_background: rgba(211,211,211,0.5);
	--maxtheme-light-browser_background: rgb(204,204,204);
	--maxtheme-light-buttoned_up: rgb(94,127,191);
	--maxtheme-light-calendar_activity: rgb(204,204,204);
	--maxtheme-light-calendar_menu_header: rgb(159,159,159);
	--maxtheme-light-calendar_stripe2: rgb(224,224,224);
	--maxtheme-light-calendar_success: rgb(173,194,87);
	--maxtheme-light-caption_background: rgb(107,113,123);
	--maxtheme-light-clue_system_background: rgb(250,255,206);
	--maxtheme-light-clue_text: rgb(0,0,0);
	--maxtheme-light-clue_user_background: rgb(255,227,167);
	--maxtheme-light-colorpopup_bright_background: rgb(140,140,140);
	--maxtheme-light-colorpopup_bright_selected: rgb(220,220,220);
	--maxtheme-light-colortab1: rgb(172,178,74);
	--maxtheme-light-colortab10: rgb(4,150,243);
	--maxtheme-light-colortab2: rgb(226,123,224);
	--maxtheme-light-colortab3: rgb(20,189,170);
	--maxtheme-light-colortab4: rgb(85,171,217);
	--maxtheme-light-colortab5: rgb(227,87,82);
	--maxtheme-light-colortab6: rgb(126,168,166);
	--maxtheme-light-colortab7: rgb(150,205,74);
	--maxtheme-light-colortab8: rgb(237,108,47);
	--maxtheme-light-colortab9: rgb(181,102,220);
	--maxtheme-light-comment_outline: rgba(128,128,128,0.5);
	--maxtheme-light-darkweb: rgb(176,179,121);
	--maxtheme-light-dirtygreen: rgb(101,120,158);
	--maxtheme-light-electricblue: rgb(221,250,26);
	--maxtheme-light-favicolor: rgb(236,208,26);
	--maxtheme-light-formatpalette_background: rgb(204,204,204);
	--maxtheme-light-formatpalette_disabledtext: rgb(131,135,139);
	--maxtheme-light-formatpalette_inherited: rgb(235,235,235);
	--maxtheme-light-formatpalette_inherited_background: rgb(183,182,182);
	--maxtheme-light-formatpalette_inherited_on: rgb(145,144,144);
	--maxtheme-light-formatpalette_renamer_background: rgb(204,204,204);
	--maxtheme-light-iceice: rgb(15,166,191);
	--maxtheme-light-inspector_background: rgb(210,210,210);
	--maxtheme-light-inspector_disabled_text: rgb(113,113,113);
	--maxtheme-light-inspector_header_background: rgb(191,191,191);
	--maxtheme-light-inspector_headerline: rgb(151,151,151);
	--maxtheme-light-inspector_menuheader: rgb(66,125,240);
	--maxtheme-light-inspector_selectedrow: rgb(78,127,223);
	--maxtheme-light-inspector_selection: rgb(78,127,223);
	--maxtheme-light-inspector_tab: rgb(66,125,240);
	--maxtheme-light-inspector_texteditor_background: rgb(241,241,241);
	--maxtheme-light-jed_background: rgb(241,241,241);
	--maxtheme-light-jed_cpp_preprocessor: rgb(138,72,0);
	--maxtheme-light-jed_defaulttext: rgb(55,55,55);
	--maxtheme-light-jed_expr_bracket: rgb(0,113,111);
	--maxtheme-light-jed_expr_comment: rgb(98,95,75);
	--maxtheme-light-jed_expr_corefunction: rgb(115,158,38);
	--maxtheme-light-jed_expr_error: rgb(204,0,0);
	--maxtheme-light-jed_expr_float: rgb(85,52,139);
	--maxtheme-light-jed_expr_identifier: rgb(134,135,130);
	--maxtheme-light-jed_expr_integer: rgb(85,52,139);
	--maxtheme-light-jed_expr_keyword: rgb(45,114,129);
	--maxtheme-light-jed_expr_namedconstant: rgb(45,114,129);
	--maxtheme-light-jed_expr_operator: rgb(135,136,27);
	--maxtheme-light-jed_expr_preprocessor: rgb(138,72,0);
	--maxtheme-light-jed_expr_punctuation: rgb(53,53,51);
	--maxtheme-light-jed_expr_string: rgb(207,0,66);
	--maxtheme-light-jed_expr_userfunction: rgb(253,133,0);
	--maxtheme-light-jed_hilite: rgb(163,205,255);
	--maxtheme-light-jed_js_bracket: rgb(0,113,111);
	--maxtheme-light-jed_js_comment: rgb(98,95,75);
	--maxtheme-light-jed_js_corefunction: rgb(115,158,38);
	--maxtheme-light-jed_js_error: rgb(141,0,0);
	--maxtheme-light-jed_js_float: rgb(85,52,139);
	--maxtheme-light-jed_js_identifier: rgb(0,25,114);
	--maxtheme-light-jed_js_integer: rgb(85,52,139);
	--maxtheme-light-jed_js_keyword: rgb(45,114,129);
	--maxtheme-light-jed_js_maxfunction: rgb(138,72,0);
	--maxtheme-light-jed_js_operator: rgb(135,136,27);
	--maxtheme-light-jed_js_punctuation: rgb(53,53,51);
	--maxtheme-light-jed_js_string: rgb(207,0,66);
	--maxtheme-light-jed_linenumber_text: rgb(92,92,92);
	--maxtheme-light-lesson_button_background: rgb(140,140,140);
	--maxtheme-light-lesson_downloading: rgb(171,141,191);
	--maxtheme-light-lesson_inprogress: rgb(66,125,240);
	--maxtheme-light-lesson_play: rgb(159,228,46);
	--maxtheme-light-lesson_range: rgba(204,251,114,0.68);
	--maxtheme-light-lesson_remote: rgb(217,217,217);
	--maxtheme-light-lesson_started: rgb(87,128,207);
	--maxtheme-light-lesson_step_border: rgb(66,66,66);
	--maxtheme-light-lesson_step_bottomgradient: rgb(134,134,134);
	--maxtheme-light-lesson_step_circle: rgb(0,148,225);
	--maxtheme-light-lesson_step_titlebar: rgb(188,186,186);
	--maxtheme-light-lesson_step_topgradient: rgb(115,115,115);
	--maxtheme-light-lesson_text_hilite: rgb(78,127,223);
	--maxtheme-light-lesson_todo: rgb(38,38,38);
	--maxtheme-light-lessonbrowser_row1_background: rgb(210,210,210);
	--maxtheme-light-lessonbrowser_row2_background: rgb(224,224,224);
	--maxtheme-light-live_active_automation: rgb(255,88,76);
	--maxtheme-light-live_alert: rgb(255,125,67);
	--maxtheme-light-live_arranger_grid_tiles: rgb(230,230,230);
	--maxtheme-light-live_assignment_text_bg: rgb(165,165,165);
	--maxtheme-light-live_contrast_frame: rgb(80,80,80);
	--maxtheme-light-live_control_bg: rgb(165,165,165);
	--maxtheme-light-live_control_fg: rgb(0,0,0);
	--maxtheme-light-live_control_fg_off: rgb(0,0,0);
	--maxtheme-light-live_control_fg_off_zombie: rgb(90,90,90);
	--maxtheme-light-live_control_fg_on: rgb(0,0,0);
	--maxtheme-light-live_control_fg_on_zombie: rgb(90,90,90);
	--maxtheme-light-live_control_fg_zombie: rgb(105,105,105);
	--maxtheme-light-live_control_fill_handle: rgb(165,165,165);
	--maxtheme-light-live_control_selection: rgb(255,181,50);
	--maxtheme-light-live_control_selection_alt: rgb(0,238,255);
	--maxtheme-light-live_control_text_bg: rgb(195,195,195);
	--maxtheme-light-live_control_text_selection: rgb(0,0,0);
	--maxtheme-light-live_control_text_selection_standby: rgb(205,205,205);
	--maxtheme-light-live_control_text_zombie: rgb(90,90,90);
	--maxtheme-light-live_control_zombie: rgb(195,195,195);
	--maxtheme-light-live_desktop: rgb(38,38,38);
	--maxtheme-light-live_dial_fg: rgb(40,40,40);
	--maxtheme-light-live_dial_fg_zombie: rgb(105,105,105);
	--maxtheme-light-live_dial_needle: rgb(40,40,40);
	--maxtheme-light-live_dial_needle_zombie: rgb(105,105,105);
	--maxtheme-light-live_dial_triangle: rgb(40,40,40);
	--maxtheme-light-live_display_handle_one: rgb(255,185,1);
	--maxtheme-light-live_display_handle_two: rgb(248,118,128);
	--maxtheme-light-live_display_line_one: rgb(255,185,1);
	--maxtheme-light-live_display_line_two: rgb(0,238,255);
	--maxtheme-light-live_display_scale_text: rgb(230,230,230);
	--maxtheme-light-live_focus_frame: rgb(80,80,80);
	--maxtheme-light-live_freeze_color: rgb(67,145,230);
	--maxtheme-light-live_gain_reduction_line_color: rgb(255,185,1);
	--maxtheme-light-live_inactive_automation: rgb(200,200,200);
	--maxtheme-light-live_input_curve_color: rgba(188,188,188,0.329411764705882);
	--maxtheme-light-live_input_curve_outline_color: rgba(0,0,0,0);
	--maxtheme-light-live_key_assignment: rgb(255,155,90);
	--maxtheme-light-live_lcd_bg: rgb(40,40,40);
	--maxtheme-light-live_lcd_control_fg: rgb(255,181,50);
	--maxtheme-light-live_lcd_control_fg_alt: rgb(109,215,255);
	--maxtheme-light-live_lcd_control_fg_zombie: rgb(140,140,140);
	--maxtheme-light-live_lcd_frame: rgb(80,80,80);
	--maxtheme-light-live_lcd_title: rgb(189,189,189);
	--maxtheme-light-live_led_bg: rgb(90,90,90);
	--maxtheme-light-live_macro_assigned: rgb(0,218,72);
	--maxtheme-light-live_macro_assignment: rgb(0,218,72);
	--maxtheme-light-live_macro_title: rgb(165,165,165);
	--maxtheme-light-live_meter_bg: rgb(40,40,40);
	--maxtheme-light-live_midi_assignment: rgb(154,149,239);
	--maxtheme-light-live_modulation: rgb(0,140,173);
	--maxtheme-light-live_numbox_triangle: rgb(109,215,255);
	--maxtheme-light-live_output_curve_color: rgba(206,206,206,0.247058823529412);
	--maxtheme-light-live_output_curve_outline_color: rgb(207,207,207);
	--maxtheme-light-live_play: rgb(0,250,163);
	--maxtheme-light-live_prelisten: rgb(26,125,241);
	--maxtheme-light-live_record: rgb(255,89,95);
	--maxtheme-light-live_selection: rgb(199,237,255);
	--maxtheme-light-live_selection_standby: rgb(171,198,203);
	--maxtheme-light-live_spectrum_alternative_color: rgb(26,125,241);
	--maxtheme-light-live_spectrum_default_color: rgba(188,188,188,0.329411764705882);
	--maxtheme-light-live_spectrum_grid_lines: rgba(166,166,166,0.247058823529412);
	--maxtheme-light-live_surface_bg: rgb(135,135,135);
	--maxtheme-light-live_surface_frame: rgb(90,90,90);
	--maxtheme-light-live_surface_frame_focus: rgb(110,110,110);
	--maxtheme-light-live_threshold_line_color: rgb(0,238,255);
	--maxtheme-light-live_value_arc: rgb(109,215,255);
	--maxtheme-light-live_value_arc_zombie: rgb(195,195,195);
	--maxtheme-light-live_value_bar: rgb(109,215,255);
	--maxtheme-light-live_value_bar_three: rgb(241,172,0);
	--maxtheme-light-live_value_bar_two: rgb(248,118,128);
	--maxtheme-light-lively: rgb(94,127,191);
	--maxtheme-light-local_audiocolor: rgb(254,105,94);
	--maxtheme-light-maxwindow_bugtext: rgb(19,142,194);
	--maxtheme-light-maxwindow_errorbackground: rgb(173,53,27);
	--maxtheme-light-maxwindow_errorbackground2: rgb(154,69,50);
	--maxtheme-light-maxwindow_errortext: rgb(225,225,225);
	--maxtheme-light-maxwindow_postobject: rgb(38,38,38);
	--maxtheme-light-maxwindow_postobject_hilite: rgb(46,193,174);
	--maxtheme-light-maxwindow_posttext: rgb(0,0,0);
	--maxtheme-light-maxwindow_selection_background: rgb(78,127,223);
	--maxtheme-light-maxwindow_successtext: rgb(127,172,99);
	--maxtheme-light-maxwindow_warningbackground1: rgb(188,188,188);
	--maxtheme-light-maxwindow_warningbackground2: rgb(193,193,193);
	--maxtheme-light-maxwindow_warningtext: rgb(197,117,8);
	--maxtheme-light-menu_background: rgb(202,201,201);
	--maxtheme-light-menu_disabled_text: rgb(94,94,94);
	--maxtheme-light-menu_headertext: rgb(94,94,94);
	--maxtheme-light-menu_highlighted_background: rgb(142,142,142);
	--maxtheme-light-menu_highlighted_text: rgb(225,225,225);
	--maxtheme-light-menu_text: rgb(56,55,55);
	--maxtheme-light-mute_on: rgb(59,143,255);
	--maxtheme-light-number_one: rgb(94,127,191);
	--maxtheme-light-object_bogus_color: rgb(155,125,107);
	--maxtheme-light-objectfiles_header: rgb(255,146,46);
	--maxtheme-light-objectified: rgb(165,190,0);
	--maxtheme-light-objectprototypes_header: rgb(106,209,255);
	--maxtheme-light-parchment: rgb(66,125,240);
	--maxtheme-light-parchment_dull: rgb(185,179,161);
	--maxtheme-light-parchmentbright: rgb(255,228,148);
	--maxtheme-light-patcher_active_tab: rgb(210,210,210);
	--maxtheme-light-patcher_box_selection: rgb(77,159,230);
	--maxtheme-light-patcher_circle_fill: rgb(60,73,78);
	--maxtheme-light-patcher_circle_outline: rgb(219,239,240);
	--maxtheme-light-patcher_cool_inlet: rgb(163,229,240);
	--maxtheme-light-patcher_hot_inlet: rgb(255,183,168);
	--maxtheme-light-patcher_inactive_tab: rgb(224,224,224);
	--maxtheme-light-patcher_io_connected_inside: rgb(0,0,0);
	--maxtheme-light-patcher_io_connected_outside: rgb(108,108,108);
	--maxtheme-light-patcher_io_unconnected: rgb(204,204,204);
	--maxtheme-light-patcher_outlet: rgb(214,221,108);
	--maxtheme-light-patcher_tab_bottom_line: rgb(74,74,74);
	--maxtheme-light-patcher_tab_text_active: rgb(2,127,207);
	--maxtheme-light-patcher_tab_text_inactive: rgb(107,107,107);
	--maxtheme-light-patcher_tab_top_line: rgb(83,83,83);
	--maxtheme-light-patcher_tinge_hilite: rgb(183,253,253);
	--maxtheme-light-patcher_tinge_object: rgb(228,233,121);
	--maxtheme-light-patcherbrowser_results_background: rgb(106,108,113);
	--maxtheme-light-patcherbrowser_results_darkrowbg: rgb(224,224,224);
	--maxtheme-light-patcherbrowser_results_lightrowbg: rgb(210,210,210);
	--maxtheme-light-patcherbrowser_results_selected: rgb(78,127,223);
	--maxtheme-light-patcherbrowser_results_textcolor: rgb(0,0,0);
	--maxtheme-light-patchline_badge_break: rgb(221,70,82);
	--maxtheme-light-patchline_badge_disabled: rgb(204,204,204);
	--maxtheme-light-patchline_badge_monitor: rgb(234,161,88);
	--maxtheme-light-patchline_badge_post: rgb(95,173,210);
	--maxtheme-light-pattrstorage_active: rgb(149,174,44);
	--maxtheme-light-plugintoolbar_background: rgb(113,114,121);
	--maxtheme-light-plugintoolbar_header_background: rgb(102,101,106);
	--maxtheme-light-presentation_frame: rgba(129,63,91,0.24);
	--maxtheme-light-projectwindow_background: rgb(204,204,204);
	--maxtheme-light-projectwindow_divider: rgb(210,210,210);
	--maxtheme-light-quickref_attribute_header: rgb(216,186,99);
	--maxtheme-light-quickref_message_header: rgb(108,187,176);
	--maxtheme-light-refbar_details_background: rgb(224,224,224);
	--maxtheme-light-refbar_details_linkcolor: rgb(66,125,240);
	--maxtheme-light-refbar_stripe2: rgb(224,224,224);
	--maxtheme-light-scrollbar_fading_mouseover: rgba(115,115,115,0.67);
	--maxtheme-light-scrollbar_fading_nonmouseover: rgba(115,115,115,0.6);
	--maxtheme-light-scrollbar_nonfading_mouseover: rgb(125,125,125);
	--maxtheme-light-scrollbar_nonfading_nonmouseover: rgb(193,193,193);
	--maxtheme-light-sidebarblues: rgb(66,125,240);
	--maxtheme-light-sliderweb: rgb(94,127,191);
	--maxtheme-light-solo_on: rgb(255,74,105);
	--maxtheme-light-standardappletexthilite: rgb(182,214,253);
	--maxtheme-light-text_editingcolor: rgb(180,211,247);
	--maxtheme-light-theme_accentcolor: rgb(166,166,166);
	--maxtheme-light-theme_bgcolor: rgb(204,204,204);
	--maxtheme-light-theme_bubble_bgcolor: rgb(255,255,255);
	--maxtheme-light-theme_bubble_outlinecolor: rgb(191,191,191);
	--maxtheme-light-theme_clearcolor: rgba(255,255,255,0);
	--maxtheme-light-theme_color: rgb(67,118,216);
	--maxtheme-light-theme_editing_bgcolor: rgb(242,242,242);
	--maxtheme-light-theme_elementcolor: rgb(179,179,179);
	--maxtheme-light-theme_locked_bgcolor: rgb(242,242,242);
	--maxtheme-light-theme_patchlinecolor: rgb(191,191,191);
	--maxtheme-light-theme_selectioncolor: rgb(66,125,240);
	--maxtheme-light-theme_stripecolor: rgb(217,217,217);
	--maxtheme-light-theme_syntax_attrargcolor: rgb(85,85,85);
	--maxtheme-light-theme_syntax_attributecolor: rgb(113,83,46);
	--maxtheme-light-theme_syntax_objargcolor: rgb(52,52,52);
	--maxtheme-light-theme_syntax_objectcolor: rgb(113,26,1);
	--maxtheme-light-theme_textcolor: rgb(0,0,0);
	--maxtheme-light-theme_textcolor_inverse: rgb(0,0,0);
	--maxtheme-light-toolbar_active_unique: rgb(77,178,242);
	--maxtheme-light-toolbar_background_active: rgb(204,204,204);
	--maxtheme-light-toolbar_background_inactive: rgb(217,217,217);
	--maxtheme-light-toolbar_background_inactive_old: rgb(135,140,146);
	--maxtheme-light-toolbar_badge: rgb(221,70,82);
	--maxtheme-light-toolbar_disabled_active: rgb(159,159,159);
	--maxtheme-light-toolbar_disabled_inactive: rgb(128,128,128);
	--maxtheme-light-toolbar_disabled_inactive_old: rgb(156,161,171);
	--maxtheme-light-toolbar_divider_active: rgb(179,179,179);
	--maxtheme-light-toolbar_divider_inactive: rgb(189,189,189);
	--maxtheme-light-toolbar_enabled_modified: rgb(174,174,174);
	--maxtheme-light-toolbar_enabled_off: rgb(38,38,38);
	--maxtheme-light-toolbar_enabled_on: rgb(15,166,191);
	--maxtheme-light-toolbar_overlay_background: rgb(209,209,209);
	--maxtheme-light-toolbar_searchbar_background: rgb(217,217,217);
	--maxtheme-light-toolbar_searchbar_emptytext: rgb(140,140,140);
	--maxtheme-light-toolbar_searchbar_hilite: rgb(77,178,242);
	--maxtheme-light-toolbar_searchbar_text: rgb(38,38,38);
	--maxtheme-light-transform_header: rgb(106,209,255);
	--maxtheme-light-transport_green: rgb(159,188,123);
	--maxtheme-light-urgentmessage: rgb(118,187,169);
	--maxtheme-light-verylively: rgb(134,214,73);
	--maxtheme-light-wolfsburg: rgb(238,175,165);
	--maxtheme-light-yellowpin: rgb(15,166,191);
}

html[data-theme="light"] {
	--c74-font-color: rgb(34, 34, 34);
	--c74-dimmed-color: #ADB5BD;
	--c74-body-bg: #ffffff;

	--c74-selection-color: rgb(186, 215, 251);
	--c74-scrollbar-color: initial;

	--c74-primary-color: rgb(49, 119, 197);
	--c74-primary-color-contrast: #ffffff;
	--c74-primary-color-light: color-mix(in srgb, var(--c74-primary-color) 10%, white);
	--c74-primary-color-light-contrast: var(--c74-primary-color);

	--c74-anchor-color: rgb(73, 135, 204);
	--c74-default-border-color: color-mix(in srgb, var(--c74-font-color) 10%, white);

	--c74-inline-code-bg: var(--maxtheme-light-jed_background);
	--c74-inline-code-text: var(--maxtheme-light-jed_defaulttext);

	/* Header */
	--c74-header-bg: rgb(238, 238, 238);
	--c74-header-color: #000000;
	--c74-header-logo-color: #222222;
	--c74-header-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px 0px;
	--c74-secondary-header-bg: var(--c74-body-bg);
	--c74-secondary-header-text: var(--c74-font-color);

	/* Footer */
	--c74-footer-bg: rgb(230, 230, 230);
	--c74-footer-color: rgb(51, 51, 51);

	/* Sidebars */
	--c74-nav-color-bg: var(--c74-body-bg);
	--c74-nav-color-text: var(--c74-font-color);
	--c74-nav-color-border: var(--c74-default-border-color);
	--c74-nav-color-selected-bg: var(--c74-primary-color-light);
	--c74-nav-color-selected-text: var(--c74-primary-color-light-contrast);

	/* Breadcrumbs */
	--c74-breadcrumbs-color-bg: var(--maxtheme-light-toolbar_overlay_background);
	--c74-breadcrumbs-color-text: var(--maxtheme-light-toolbar_enabled_off);
	--c74-breadcrumbs-color-border: var(--maxtheme-light-inspector_header_background);

	/* Modal */
	--c74-modal-background: #ffffff;

	/* Search */
	--c74-spotlight-divider: var(--c74-default-border-color);

	/* Tables */
	--c74-table-stripe-bg: color-mix(in srgb, #ffffff 98%, black);
	--c74-table-border-color: var(--c74-default-border-color);

	/* Article Colors */
	--c74-article-offset-bg: color-mix(in srgb, #ffffff 96%, black);
	--c74-article-offset-color: var(--c74-font-color);

	/* Legacy Logo Background */
	--c74-legacy-logo-bg: var(--c74-body-bg);

	/* Divider */
	--c74-divider-color: var(--c74-default-border-color);

	/* Buttons */
	--c74-btn-bg: transparent;
	--c74-btn-color: var(--c74-font-color);
	--c74-btn-border-color: var(--maxtheme-light-toolbar_searchbar_background);

	/* Input */
	--c74-input-bg: var(--c74-body-bg);
	--c74-input-border: var(--c74-default-border-color);
	--c74-input-color: var(--c74-font-color);
	--c74-input-placeholder-color: var(--c74-dimmed-color);

	/* SVG Mapped Colors */
	--svg-bg: #fafafa;
	--svg-fg: var(--c74-font-color);
	--svg-primary: var(--maxtheme-light-toolbar_enabled_on);
	--svg-secondary: var(--maxtheme-light-maxwindow_posttext);

	/* Notification Colors */

	--c74-color-error-background: var(--maxtheme-light-maxwindow_errorbackground);
	--c74-color-error-text: var(--maxtheme-light-maxwindow_errortext);

	--c74-color-warn-background: var(--maxtheme-light-maxwindow_warningbackground1);
	--c74-color-warn-text: var(--maxtheme-light-maxwindow_warningtext);

	--c74-color-success-background: transparent;
	--c74-color-success-text: var(--maxtheme-light-maxwindow_successtext);

	--c74-color-info-background: var(--maxtheme-light-inspector_selectedrow);
	--c74-color-info-text: var(--maxtheme-light-maxwindow_posttext);

	--c74-color-bubble-background: var(--maxtheme-light-toolbar_background_active);
	--c74-color-bubble-text: var(--maxtheme-light-toolbar_enabled_off);

	/* JED Colors */
	--jed_background: var(--maxtheme-light-jed_background);
	--jed_defaulttext: var(--maxtheme-light-jed_defaulttext);
	--jed_expr_comment: var(--maxtheme-light-jed_expr_comment);
	--jed_expr_corefunction: var(--maxtheme-light-jed_expr_corefunction);
	--jed_expr_float: var(--maxtheme-light-jed_expr_float);
	--jed_expr_keyword: var(--maxtheme-light-jed_expr_keyword);
	--jed_expr_namedconstant: var(--maxtheme-light-jed_expr_namedconstant);
	--jed_expr_operator: var(--maxtheme-light-jed_expr_operator)
	--jed_expr_punctuation: var(--maxtheme-light-jed_expr_punctuation);
	--jed_expr_string: var(--maxtheme-light-jed_expr_string);
	--jed_expr_userfunction: var(--maxtheme-light-jed_expr_userfunction);
	--jed_hilite: var(--maxtheme-light-jed_hilite);

	/* Messages */
	--c74-color-patcher-bg: #e5e5e5;
	--c74-color-message-bg-one: #4D4D4D;
	--c74-color-message-bg-two: #333333;
	--c74-color-message-fg: #F7F7F7;
	--c74-color-message-io: #727272;

	/* Refpages */
	--c74-color-refpage-callout-bg: var(--maxtheme-light-inspector_background);
	--c74-color-refpage-callout-text: var(--c74-font-color);

	--c74-color-apiitem-bg: var(--maxtheme-light-inspector_background);
	--c74-color-apiitem-text: var(--c74-font-color);

	/* Cookie Consent */
	--c74-cookie-consent-bg: var(--c74-font-color);
	--c74-cookie-consent-text: var(--c74-body-bg);
	--c74-cookie-consent-secondary-action-color: var(--maxtheme-light-toolbar_searchbar_background);
}
